body {
    background-color: #434343;
    background-image: url('/img/b80537eff062f8aaf589783d0a10d2a9test2.jpg');
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: ;
    margin: 60px auto;
    width: 80%;
    font-family: 'Lato', sans-serif;
}
.center-text
{
text-align: center
}
.center-image
{
    margin: 0 auto;
    display: block;
}

nav ul, footer ul {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color:#FFFFFF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color:#FFFFFF;
}
nav {
    font-size: 1.5em;
    border-bottom: 1px solid #d5d5d5;
}
a {
    text-decoration: none;
    color:;
}
a:hover {
    text-decoration: underline;
    color:;
}
h1 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    color:#FFFFFF;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color:white;
}

ul.posts li {
    list-style: none;
    color:white;
}

.white { 
 color : white; text-decoration : none;
}

.white:hover { 
 color : white; text-decoration : overline underline;
}

.white-under { 
 color : white; text-decoration : underline;
}

.white-nounder { 
 color : white; text-decoration : none;
}

.white-nounder:hover { 
 color : white; text-decoration : underline;
}
