@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  cursor: default;
}


html {
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;

  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  font-family: "Roboto", sans-serif;
  opacity: 1;
  transition: .25s opacity;
}

.fade-out {
  opacity: 0;
  transition: none;
}

.fade-out-portfolio {
  opacity: .25;
  transition: none;
}




#bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav>#span1 {
  position: absolute;
  right: 87px;
  bottom: 47px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#nav>#span2 {
  position: absolute;
  right: 29px;
  bottom: 47px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#nav>#span3 {
  position: absolute;
  right: -22px;
  bottom: 47px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#github, i {
  cursor: pointer;
}

#linkedin, i {
  cursor: pointer;
}

#codepen, i {
  cursor: pointer;
}

#github:hover+#span1 {
  visibility: visible;
  opacity: 1;
}

#codepen:hover+#span2 {
  visibility: visible;
  opacity: 1;
}

#linkedin:hover+#span3 {
  visibility: visible;
  opacity: 1;
}


#nav {
  width: 100%;
  height: 47px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#skilltitle {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 3px 0px 3px 0px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 60, 0, 0.6),
      rgba(207, 21, 21, 0.7),
      rgba(150, 20, 20, 0.8));
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  border-radius: 5px;
  width: 225px;
}

#skillsCard {
  margin: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 60, 0, 0.6),
      rgba(207, 21, 21, 0.7),
      rgba(150, 20, 20, 0.8));
  border-radius: 5px;
}


#learningtitle {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 3px 0px 3px 0px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 0, 0, 0.6), rgba(107, 21, 207, 0.6), rgba(150, 20, 20, 0.6));
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  border-radius: 5px;
  width: 150px;
  margin-top: 20px;
}

#learningCard {
  margin: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 0, 0, 0.6), rgba(107, 21, 207, 0.6), rgba(150, 20, 20, 0.6));
  border-radius: 5px;
}


h4 {
  position: relative;
  font-size: 17px;
  letter-spacing: -4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4>i {
  cursor: default;
  padding: 5px 10px 0 10px;
}


#htmlicon, #cssicon, #jsicon, #pythonicon, #giticon, #reacticon, #linuxicon, #windowsicon, #phpicon, #laravelicon, #wordpressicon, #shopifyicon, #reacticon, #postgresicon, #nodeicon {
  color: rgba(255, 255, 255, 0.8);
  transition: color .2s;
}

#htmlicon:hover, #cssicon:hover, #jsicon:hover, #pythonicon:hover, #giticon:hover, #reacticon:hover, #linuxicon:hover, #windowsicon:hover, #phpicon:hover, #laravelicon:hover, #wordpressicon:hover, #shopifyicon:hover, #reacticon:hover, #postgresicon:hover, #nodeicon:hover {
  color: rgba(0, 0, 0, 0.8);
}

#nav:visited {
  color: black;
}

#github {
  position: absolute;
  right: 100px;
  text-decoration: none;
  /* margin-left: 15px; */
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#github:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#codepen {
  position: absolute;
  right: 50px;
  text-decoration: none;
  /* margin-left: 15px; */
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#codepen:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#linkedin {
  position: absolute;

  text-decoration: none;
  /* margin-left: 15px; */
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 11px 9px 7px 9px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#linkedin:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#card {
  min-width: 260px;
  text-align: center;
  padding: 3px 10px 10px 10px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  margin-bottom: 20px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-size: 27px;
  text-align: center;
}


::-moz-selection {
  color: #0e76a8;
}

::selection {
  color: #0e76a8;
}

#blinking {
  position: relative;
  right: 2px;
  bottom: 1px;
  font-weight: 700;
  animation: blinkingText 1.25s infinite;
  animation-timing-function: ease-in;
}

@keyframes blinkingText {
  0% {
    color: black;
  }

  20% {
    color: transparent;
  }

  40% {
    color: black;
  }

  100% {
    color: black;
  }
}



#portfolio, i {
  cursor: pointer;
}

#portfolio {
  position: absolute;
  left: 0px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 7px 8px 6px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
  font-size: 20px;
}

#portfolio:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#work-with-me {
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 14px 16px 12px 16px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
  font-size: 24px;
}

#work-with-me:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#login {
  cursor: pointer;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 4px 8px 3px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
  font-size: 15px;
}

#login:hover {
  box-shadow: 0px 0px 30px 2px black;
}

.columns {
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  padding: 14px 16px 12px 16px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
  border-radius: 7px;
}


#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: .3s;
  visibility: visible;
  min-width: 315px;
  min-height: 500px;
}

#container2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: .3s;
  visibility: visible;
  min-height: 775px;
}

#top_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#portfolioContainer {
  padding: 10px 10px 10px 10px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.6));
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 95vw;


}


#project {

  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;

}

#description {
  font-weight: 400;
  font-size: 17px;
  margin: 0px 0 10px 0;
  line-height: 22px;

}

#tools {
  font-weight: 400;
  font-size: 17px;
  color: rgb(32, 116, 211);
  white-space: nowrap;
}

#links>a {
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(211, 32, 32);
  transition: .05s;
  white-space: nowrap;
  padding-bottom: 2px;
  border-bottom: 0px solid rgb(211, 32, 32);

}

#links>a:hover {
  border-bottom: 2px solid rgb(211, 32, 32);
  padding-bottom: 0px;

}


#links {
  margin-top: 10px;
}

#backHome {
  font-size: 12px;
  cursor: pointer;
  z-index: 2;
  margin-bottom: 10px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(220deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6));
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#backHome:hover {
  box-shadow: 0px 0px 30px 2px black;
}


#portfolioPage {
  margin-top: auto;
  margin-bottom: auto;
  width: 90vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;

}

#project>a {
  font-size: 45px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: .2s;
  border-bottom: 4px solid black;
}

#project>a:hover {
  cursor: pointer;
  color: rgb(211, 32, 32);
  border-bottom: 4px solid rgb(211, 32, 32);
}









@media only screen and (max-width: 700px) {
  h1 {
    font-size: 12.2vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h4 {}

  #project>a {
    line-height: 80px;

  }

}

@media only screen and (max-width: 540px) {

  #github:hover+#span1 {
    visibility: hidden;
  }

  #codepen:hover+#span2 {
    visibility: hidden;
  }

  #linkedin:hover+#span3 {
    visibility: hidden;
  }

  h1 {
    font-size: 10.75vw;
  }

  h4 {
    font-size: 10px;
  }

  #skillsCard {
    width: 300px;
  }
}

@media only screen and (max-width: 460px) {
  #card {
    margin: 0px 0px 20px 0px;
  }


  #skilltitle, #learningtitle {
    font-size: 18px;
  }

  h4 {
    font-size: 10px;
  }

  #project>a {
    font-size: 30px;
    line-height: 60px;
  }


  #portfolio {
    position: absolute;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 12.5vw;
  }

  h4 {
    font-size: 10px;
  }

  #container2 {
    min-height: 900px;
  }
}

@media only screen and (max-width: 385px) {
  #card {
    margin: 0px 0px 20px 0px;
  }

  h1 {
    font-size: 11.25vw;
  }

  h4 {
    font-size: 10px;
  }

  #project>a {
    font-size: 25px;
    margin-bottom: 0px;
  }

  #tools {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 12px;
  }

  #portfolio {
    position: absolute;
  }
}