@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
}

#bg {
  overflow-x: hidden;
  background: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav > #span1{
  position: relative;
  left: 175px;
  bottom: 35px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#nav > #span2{
  position: relative;
  left: 100px;
  bottom: 35px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#nav > #span3{
  position: relative;
  left: 18px;
  bottom: 35px;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;
  text-shadow: 0px 0px 1px white;
  font-size: 20px;
}

#github, i{
  cursor: pointer;
}

#linkedin, i{
  cursor: pointer;
}

#codepen, i{
  cursor: pointer;
}

#github:hover + #span1 {
  visibility: visible;
  opacity: 1;
}

#codepen:hover + #span2 {
  visibility: visible;
  opacity: 1;
}

#linkedin:hover + #span3 {
  visibility: visible;
  opacity: 1;
}


#nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 70px 5px 0;
}


#skillsCard{
  margin: 3px 95px 0px 95px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 60, 0, 0.6),
    rgba(207, 21, 21, 0.7),
    rgba(150, 20, 20, 0.8)
  );
  border-radius: 5px;
}

#skilltitle{
  font-family: 'Open Sans', sans-serif;
  margin: 3px 130px 0px 130px;
  text-align: center;
  padding:  3px 0px 3px 0px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 60, 0, 0.6),
    rgba(207, 21, 21, 0.7),
    rgba(150, 20, 20, 0.8)
  );
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  border-radius: 5px;
}

#skillname{
  font-family: 'Open Sans', sans-serif;
  margin: 3px 95px 0px 95px;
  text-align: center;
  padding:  3px 0px 3px 0px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 60, 0, 0.6),
    rgba(207, 21, 21, 0.7),
    rgba(134, 18, 18, 0.8)
  );
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  border-radius: 5px;
}

h4{
  position: relative;
  font-size: 17px;
  letter-spacing: -4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 > i {
  cursor: default;
  padding: 0 10px 0 10px;
}


#htmlicon, #cssicon, #jsicon, #pythonicon, #giticon, #reacticon, #linuxicon, #windowsicon{
  color: rgba(255, 255, 255, 0.8);
  transition: color .2s;
}

#htmlicon:hover, #cssicon:hover, #jsicon:hover, #pythonicon:hover, #giticon:hover, #reacticon:hover, #linuxicon:hover, #windowsicon:hover{
  color: rgba(0, 0, 0, 0.8);
}

#nav:visited {
  color: black;
}

#github {
  position: relative;
  left: 226px;
  text-decoration: none;
  margin-left: 15px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#github:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#codepen {
  position: relative;
  left: 160px;
  text-decoration: none;
  margin-left: 15px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#codepen:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#linkedin {
  position: relative;
  left: 76px;
  text-decoration: none;
  margin-left: 15px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 11px 9px 7px 9px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#linkedin:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#card {
  text-align: center;
  padding: 3px 10px 10px 10px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 5px;
  margin: 0 70px 20px 70px;
  margin-bottom: 20px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-size: 27px;
  text-align: center;
}


@media only screen and (max-width: 700px) {
  h1 {
    font-size: 12.2vw;
  }

  h2 {
    font-size: 4.5vw;
  }
    h4{
    white-space: nowrap; 
  }
}

@media only screen and (max-width: 540px) {

  #github:hover + #span1 {
    visibility: hidden;
  }

  #codepen:hover + #span2 {
    visibility: hidden;
  }

  #linkedin:hover + #span3 {
    visibility: hidden;
  }  
  
  h1 {
    font-size: 10.75vw;
  }

  h4{
    white-space: nowrap;
    font-size: 12px;
  }
}

@media only screen and (max-width: 380px) {
  #card {
    margin: 0 100px 20px 100px;
  }

  #nav {
    margin: 0 100px 5px 0;
  }

  #skilltitle{
    font-size: 18px;
  }

  h4{
    font-size: 12px;
  }

}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 12.5vw;
  }

  h4{
    white-space: nowrap;
    font-size: 12px;
  }
}

::-moz-selection {
  color: #0e76a8;
}
::selection {
  color: #0e76a8;
}

#blinking {
  position: relative;
  right: 2px;
  bottom: 1px;
  font-weight: 700;
  animation: blinkingText 1.25s infinite;
  animation-timing-function: ease-in;
}

@keyframes blinkingText {
  0% {
    color: black;
  }
  20% {
    color: transparent;
  }
  40% {
    color: black;
  }
  100% {
    color: black;
  }
}
