* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
}

#bg {
  background: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

#CV {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 17px;
  margin-right: auto;

  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 10px 8px 6px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#nav:visited {
  color: black;
}

#CV:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#linkedin {
  text-decoration: none;
  margin-left: 15px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 11px 10px 7px 10px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#linkedin:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#codepen {
  text-decoration: none;
  margin-left: 15px;
  color: black;
  box-shadow: 0px 0px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 7px;
  padding: 11px 8px 7px 8px;
  transition: box-shadow 0.4s ease, border-radius 0.3s ease;
}

#codepen:hover {
  box-shadow: 0px 0px 30px 2px black;
}

#card {
  text-align: left;
  padding: 3px 10px 10px 10px;
  box-shadow: 2px -2px 40px -6px black;
  background-image: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 5px;
}

h1 {
  font-size: 62px;
  font-weight: bold;
}

h2 {
  font-size: 27px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 8.5vw;
  }

  h2 {
    font-size: 4vw;
  }
}

::-moz-selection {
  color: #0e76a8;
}
::selection {
  color: #0e76a8;
}

#blinking {
  font-weight: bold;
  animation: blinkingText 1.25s infinite;
  animation-timing-function: ease-in;
}

@keyframes blinkingText {
  0% {
    color: black;
  }
  20% {
    color: transparent;
  }
  40% {
    color: black;
  }
  100% {
    color: black;
  }
}
