<!DOCTYPE html>
	<html>
		<head>
			<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/manifest.json">
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
			<meta name="theme-color" content="#ffffff">
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo title=false %}
		</head>
		<body>
			
			<nav>
	    		<ul>
	        		<li><a href="/" class="white" >Home</a></li>
		        	<li><a href="/about" class="white" >About</a></li>	        		
	        		<li><a href="/ramblings" class="white" >Ramblings</a></li>
				<li><a href="/projects" class="white" >Projects</a></li>
				<li style="float: right;"><a href="/cv" class="white">CV</a></li> 
	    		</ul>
			</nav>
						
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mythen.sean@gmail.com" class="white" >Email</a></li>
	        	   <!-- <li><a href="https://github.com/SeanMythen" class= "white" >github</a></li> -->
				</ul>
			</footer>
			{% include google-analytics.html %}
		</body>
	</html>
